* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
  font-style: normal;
  color: #131318;
}
/* body{
    
} */
/* ----header menubar----- */
header {
  width: 85%;
  align-items: center;
  margin: 52px auto;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

.logo img {
  width: auto;
  height: 56px;
  flex-shrink: 0;
}

.logo span {
  color: #ff5400;
}

.nav-menu {
  margin: auto 0;
}

.nav-menu ul {
  display: flex;
  gap: 44px;
  align-items: center;
  list-style: none;
  padding: 10px;
  font-weight: 400;
  cursor: pointer;
}

.nav-menu ul li:hover {
  color: #ff5400;
}

nav i {
  display: none;
}

/* ----banner----- */

.banner {
  height: 500px;
  width: 85%;
  align-items: center;
  margin: 0 auto;
  border: solid 2px rgba(255, 192, 203, 0);
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat; 
  background-size: cover;
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  margin-top: 40px;
}

.banner-text{
    text-align: center;
    align-items: center;
    margin-top: 106px;
    margin-bottom: 40px;

}

.banner-text h1{
    color: white;
    font-size: 4rem;
    font-weight: 800;
    
}

.banner-text p{
    color: white;
    font-weight: 400;
    width: 676px;
    text-align: center;
    margin: 16px auto;

}

.select-tours{
    margin: 20px 450px;
    height: 84px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

}


.select-class{
  /* padding-top: 60px; */
  align-items: center;
}


.btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    align-items: center;
    border: none;
    color: white;
    text-align: center;
    font-family: Mulish;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    color: blue;
}

.btn::before{
    content:url(Images/search-solid.svg);
    width: 20px;
    height: 20px;
    padding: 10px;
    position: absolute;
    top:8px;
    left: 22px;
}

.select-class input{
    border-radius: 8px;
    width: 174px;
    color: rgba(19, 19, 24, 0.50);
    
}

.select-class select{

    border-radius: 8px;
    width: 174px;
    color: rgba(19, 19, 24, 0.50);
}

 /* -----Popular Tours---- */

 .tours{
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
    margin: 100px auto;
    
 }

 .header h1{
    font-size: 3rem;
    font-weight: 800;
 }

 .header p{
    font-weight: 400;
 }

 .tour-text p{
    width: 730px;
    padding: 24px 0;
    margin-bottom: 5px;
 }

 .tour-text ul li{
    margin-left: 30px;
 }

 .btn::before{
    display: none;
 }

  /* -----Choose your Destination-----  */

  .destination-section{
    width: 85%;
    align-items: center;
    
    margin: 0 auto;
  }

  .destination {
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
  }

  .destination-text {
    margin-top: 190px;
  }

  .destination-text p{
    margin: 50px 0 100px;
  }
  .destination-img{
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(3, 300px); 
    gap: 16px;
    margin: 20px auto;
   
    
    
  }

  .item{
    border-radius: 16px;
    text-align: center;
    padding: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
  }

  .item h5{
    color: white;
  }
  .item-1{
    grid-column-start: 1;
    grid-column-end: 7;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 5.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

  .item-2{
    grid-column-start: 7;
    grid-column-end: 13;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 8.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .item-3{
    grid-column-start: 1;
    grid-column-end: 4;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 6.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: cover;
    

  }
  .item-4{
    grid-column-start: 4;
    grid-column-end: 11;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 7.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain; 
  }

  .item-5{
    grid-column-start: 11;
    grid-column-end: 13;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 9.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-6{
    grid-column-start: 1;
    grid-column-end: 6;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 11.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .item-7{
    grid-column-start: 6;
    grid-column-end: 13;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(Images/Rectangle\ 10.png), lightgray 50% ;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* ----pick us---- */

  .pick-us{
    width: 85%;
    align-items: center;
    margin: 100px auto;
  
  }

  .pick-us-text{
    text-align: center;
    margin-bottom: 50px;

  }

  .pick-us-text h2{
    margin-bottom: 40px;
  }

  .header h2{
    font-size: 40px;
    font-weight: 800;
  }

  .pick-us-text p{
    width: 600px;
    margin: 0 auto;
  }

  .pick-us-cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .pick-design{
    width: 49%;
    border: solid 2px red;
    border-radius: 16px;
    height: 284px;
    padding: 20px;
  }

  .pick-us-cards img{
    height: 64px;
    width: 64px;
    margin-bottom: 20px;
  }

  .pick-us-cards h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
  }

  .pick-card1{
   
      border: 1px solid rgba(251, 181, 99, 0.20);
      background: rgba(251, 181, 99, 0.05);
  }

  .pick-card2{
    
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
  }

  .pick-card3{

    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);  
  }

  /* ---news-letter--- */

  .news-letter{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 422px;
    margin-bottom: 200px;
  }

  .news-letter-text{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
  }

  .news-letter-text h5{
    font-size: 24px;
    font-weight: 800
  }
.news-letter-text p{
    color: #5A5A5D;
  }
  .news-letter-text input{
    width: 100%;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 52px;
    border: none;
    padding: 20px;
    color: rgba(19, 19, 24, 0.30);
  }

  .news-letter-text button{
    width: 100%;
  }

  .news-letter-text hr{
    background: rgba(19, 19, 24, 0.10);
  }

  .news-letter-img {
    width: 48%;
    position: relative;
  }

  .news-letter-img img {
   width: 100%;
   height: 422px;
  }



  .news-box{
    height: 120px;
    width: 324px;
    background-color: #FF5400;
    border-radius: 16px;
    position: absolute;
    bottom: 11%;
    left: 57%;
    transform: rotate(-19.628deg);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .news-box h3{
    color: white;
    font-size: 32px;
    font-weight: 800;

  }

  .news-box p{
    color: white;
    padding: 5px;
    

  }

  footer{
    height: 500px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .logo-footer{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .logo-footer h2{
    font-size: 32px;
    font-weight: 800;
  }
  .logo-footer span{
    color: #FF5400;
  }

  .social{
    display: flex;
    gap: 20px;
  }

  .social img{
    width: 24px;
    height: 24px;
  }

  footer hr{
    width: 50%;
    margin: 20px 0;
    background: rgba(19, 19, 24, 0.10);
  }
  
  .extra {
    width: 85%;
    margin: 40px auto 100px;
    height: 500px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .extra-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 180px); 
    gap: 16px;
    margin: 20px auto;
  
  }

  .ex-img-container{
  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }

  .ex-img-container img{
    width: 100px;
    
  }

  .extra-text h2{
    margin-bottom: 40px;
  }

  .extra-text p{
    width: 40%;
    margin: 0 auto;
  }

  .deal-text h2{
    margin: 24px 0;
  }
  /* --deals-- */

  
  
  
  /* .Deals{
    width: 85%p;
    margin: 0 auto;
  }
  
  .deal-text{
    margin: 20px auto;
    text-align: center;
    width: 90%;
  }
   
  .deal-text h2{
    margin: 24px 0;
  }
  
  .deals-container{
    width: 100%;
    align-items: flex-end;
    margin: 30px auto;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  

 

  .deal-card{
    width: 40%;
    height:389px;
    border-radius: 16px;
   
    margin-right: 50px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px )
  }

  .offer-text{
    display: flex;
    justify-content: space-around;
  }

  .flex-text{
    display: flex;
    margin: 30px auto;
    align-items: center;
  }

  .flex-text img{
    width: 24px;
    height: 24px;
  }
  .flex-text p{
    font-size: 16px;
  }

  .background1{
    background-image: url(Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .background2{
    background-image: url(Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .background2 .deal-card{
    
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }


  .deal-card h3{
    font-size: 24px;
    margin: 10px 30px;
    font-weight: 800;
  }

  .deal-card p{
    margin: 10px 30px;
  }

  .price h2{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin: 30px 30px;
  }

  .deal-card > button{
    margin: 0 30px;
   */


  SELECT {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important;                   
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; 
  
}

.deal-text{
  text-align: center;
}

.deals-container{
  width: 85%;
  height: 500px;
  margin: 40px auto;
  border: solid 2px pink;
  background-image: url(Images/Group\ 39.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


  .deal-card{
    width: 40%;
    height:389px;
    border-radius: 16px;
   border: solid 2px pink;
    margin-right: 50px;
    padding: 16px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px )
  }

  .offer-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 5px;
    margin-top: 30px;
    
    
  }

  .flex-text {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    height: 26px;
    align-content: flex-start;
    align-items: flex-start;
}

    .flex-text p{
      text-align: center;
    
  }

  .deal-card h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .deal-card p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    align-items: center;
    width: 70%;
    margin-left: 30px;
  }


  .price h2{
    font-size: 20px;
    font-weight: 800;
    color: #FF5400;
    margin-bottom: 30px;
    margin-left: 30px;
  }

  .btn-book{
    width: 150px;
    height: 52px;
    margin-left: 30px;
    
  }


.background2{
    background-image: url(Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .background2 .deal-card{
    
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

@media only screen and (max-width: 600px) {
  /* body {
    background-color: lightblue;
  } */
  header .tours{
    width: 90vw;
    margin-bottom: 24px
  }

  
  nav li {
    display: none;
  }

  nav i {
    display: block;
    font-size: 2rem;
  }

  .logo {
    font-size: 1.5rem;
  }
  .logo img {
    /* width: auto; */
    height: 45px;
    flex-shrink: 0;
  }

  .logo h2{
    font-size: 1.6rem;
  }

  /* ---banner--- */
  .banner{
     height: 550px;
     max-width: 90vw;
    width: 90vw;
    align-items: center;
    margin: 0 auto;
    border: solid 2px rgba(255, 192, 203, 0);
    border-radius: 16px;
    background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat; 
  background-size: cover;
  object-fit: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  }

  .header h2{
    font-size: 22px;
  }
  .header h1{
    font-size: 22px;
  }
  .select-class{
    flex-direction: column;
    align-items: center;
  }
  .banner-text{
    margin-top: 20px;
    margin-bottom: 0;
    width: 90%;
  }

  .banner-text h1{
    font-size: 1.6rem;
    margin-top: 10px;
    padding: 0;
  }
  .banner-text p{
    font-size: .9rem;
    width: 85%;
    margin: 12px auto 4px ;
  }

  .select-tours{
    margin: 0;
    height: fit-content;
    width: 95%;
  }

  .select-tours input{
    width: 100%;
    padding: 24px;
  }
  .select-tours select{
    width: 100%;
   
  }
  
  .find-btn{
    display: block;
    width: 100%;
  }
  .select-tours .btn {
    display: block;
    width: 100%;
    padding: 10px;
    
  }

  .btn::before{
    left: 60px;
  }
 .news-letter, .tours{
    flex-direction: column;
  }
  .tour-text{
    width: 100%;
  }
  .tour-text p{
    width: 100%;
  }
  .tour-text .tour-img{
    width: 100%;
  }

  .tour-img img{
    width: 100%;
    margin-top: 20px;
  }

  /* -----Choose your Destination-----  */

  .destination-img{

   grid-template-columns: 1fr;
   grid-template-rows: repeat(7,300px) ;

  }

  .item{
    grid-column-start: 1;
    grid-column-end: 13;
  }

  .destination-text {
    margin-top: 0px;
  }

  .destination-text p {
    margin: 24px auto;
  }
  
  .pick-design{
    width: 95%;
    border: solid 2px red;
    border-radius: 16px;
    height: 284px;
    padding: 20px;
  }

  .pick-us-text p{
    width: 85%;
    margin: 0 auto;
  }

  .pick-us{
    margin: 50px auto;
  }

  .news-letter-text,.news-letter-img{
    width: 100%;
  }

  .news-letter-img img{
    width: 100%;
    height: 300px;
  }
  .news-box{
    width: 53%;
    height: 30%;
    bottom: 42px;
    left: 150px;
  }
  .news-box h3{
    font-size: 22px;
  }

  .news-letter-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 20px;
    padding: 10px;
  }

  footer{
    margin-top: 170px;
    padding: 40px;
    text-align: center;
  }

  footer hr{
    width: 100vw;
  }

  .ex-img-container img{
    width: 40px;
    margin: 40px
  }

  .ex-img-container p{
    font-size: 20px;
    
  }

  .ex-img-container{
    display: flex;
    justify-content: flex-start
  }

  .extra-img{
    display: grid;
    grid-template-columns: 1fr ; 
    grid-template-rows: repeat(6, 60px); 
    gap: 5px;
    margin: 20px auto;
  
  }

  .extra{
    margin-left: 0;
    margin-right: 0;
  }

  .extra-text p{
    width: 100%;
    text-align: center;
  }

  .Deals{
    width: 85%;
  }

  .deal-text{
    max-width: 90vw;
    width: 90vw;
    margin: 0;
    padding:0
  }

  .deal-text p{
    margin: 20px auto;
    font-size: 14px;
  }

 

  .deals-container{
    justify-content: center;
    align-items: center;
  }

  .deal-card{
    width: 90%;
    height: 297px;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 180px;   
  }



  .btn-book{
    width: 130px;
    height: 40px;
    margin-top: 12px;
    margin-left: 0;
  }

.deal-card h3{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 0;
  }

  .deal-card p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .offer-text{
    margin-top: 0;
  }

  .price h2{
    font-size: 16px;
    font-weight: 800;
    color: #FF5400;
    margin-bottom: 0;
    margin-left: 0;
  }